<div
	layout="column"
	layout-fill
	layout-margin
	layout-align="strech start"
	class="home-content"
>
	<div flex="none" class="title">Produtos</div>

	<div layout="row" flex>
		<div layout="column" layout-margin flex class="smartphones-container">
			<h1 class="title">Smartphones</h1>
			<products-list tipodeproduto="smartphones"></products-list>
		</div>

		<div layout="column" layout-margin flex class="laptops-container">
			<h1 class="title">Laptops</h1>
			<products-list tipodeproduto="laptops"></products-list>
		</div>
	</div>
</div>
